.dark-mode {
    background-color: #121212;
    color: #ffffff;
    transition: background-color 1s, color 1s;
}

.dark-mode .navbar {
    background: linear-gradient(to top, #2c2c2c, #1e1e1e);
    transition: background 1s;
}

.dark-mode .brand-link {
    background: linear-gradient(to top, #2c2c2c, #1e1e1e);
    transition: background 1s;
}

.dark-mode .nav-link {
    color: white !important;
    transition: color 1s;
}

.dark-mode .input-group-sm .form-control-navbar {
    background-color: #2c2c2c;
    color: white;
    border: none;
    transition: background-color 1s, color 1s;
}

.dark-mode .input-group-sm .btn-navbar {
    background-color: #2c2c2c;
    color: white;
    border: none;
    transition: background-color 1s, color 1s;
}

/* Navbar styles for light mode */
.main-header.navbar {
    background: linear-gradient(to top, #00497d, #0279C8); /* Light mode color */
    transition: background-color 1s, color 1s;
}

/* Dark mode navbar styling */
.dark-mode .main-header.navbar {
    background: linear-gradient(to top, #2c2c2c, #1e1e1e); /* Dark mode color */
}

.navbar-nav .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    right: 0; 
    background-color: #fff; 
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 160px;
    border-radius: 0.25rem; 
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    transform: translateX(-100%); 
}

.dark-mode .navbar-nav .dropdown-menu {
    background-color: #2c2c2c !important; 
    box-shadow: 0 0.25rem 0.75rem rgba(255, 255, 255, 0.1); 
}

.navbar-nav .dropdown-menu.show {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(0); 
}

.navbar-nav .dropdown-menu.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%); 
}

.navbar-nav .dropdown-menu-left {
    left: 0;
    transform: translateX(-100%);
}

.navbar-nav .dropdown-menu-right {
    right: 0;
    transform: translateX(100%);
}
.navbar-nav .dropdown-menu a {
    color: #2c2c2c; 
}

.dark-mode .navbar-nav .dropdown-menu a {
    color: #fff; 
}
.brand-link {
    transition: background-color 1s, color 1s;
}

.rotate {
    animation: rotateIcon 0.5s;
}

@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


