<<<<<<< Updated upstream
.table {
    table-layout: fixed; 
    width: 100%; 
}

.table th, .table td {
    vertical-align: middle;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
    max-width: 0; 
}

.card-title {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
=======
.table th, .table td {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; 
    max-width: 0; 
>>>>>>> Stashed changes
}

.btn {
    margin-top: 10px;
}
<<<<<<< Updated upstream
=======
.table th {
    width: 20%;
}
.red-text {
    color: red;
}
.card-title {
    white-space: normal;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    max-width: 100%; 
}
>>>>>>> Stashed changes
