/* Mode Gelap */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
  transition: background-color 1s, color 1s;
}

/* Navbar Custom Styling */
.main-header.navbar {
  margin-left: 250px; /* Sesuaikan dengan lebar Sidebar */
  width: calc(100% - 250px); /* Lebar Navbar sisa layar */
  background: linear-gradient(to top, #00497d, #0279C8) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow opsional */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1040;
  transition: background 0.5s;
}

/* Navbar Responsiveness */
@media (max-width: 768px) {
  .main-header.navbar {
      margin-left: 0;
      width: 100%; /* Navbar penuh saat layar kecil */
  }
}

/* Navbar Items Styling */
.navbar-nav .nav-link {
  color: white !important;
  font-size: 18px;
  padding: 8px 15px;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #ffcc00 !important;
}

/* Center Alignment */
.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: white !important;
  text-align: center;
}


.main-sidebar {
  width: 250px; /* Tentukan lebar sidebar yang tetap */
}


.content-wrapper {
  margin-left: 250px; /* Sesuaikan dengan lebar sidebar */
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .content-wrapper {
    margin-left: 0; /* Hilangkan margin untuk layar kecil */
  }
}



/* Navbar untuk Mode Gelap */
.dark-mode .navbar {
  background: linear-gradient(to top, #2c2c2c, #1e1e1e);
  transition: background 1s;
}

/* Brand Link untuk Mode Gelap */
.dark-mode .brand-link {
  background: linear-gradient(to top, #2c2c2c, #1e1e1e);
  transition: background 1s;
}

/* Nav Link untuk Mode Gelap */
.dark-mode .nav-link {
  color: white !important;
  transition: color 1s;
}

/* Input Group untuk Mode Gelap */
.dark-mode .input-group-sm .form-control-navbar {
  background-color: #2c2c2c;
  color: white;
  border: none;
  transition: background-color 1s, color 1s;
}

.dark-mode .input-group-sm .btn-navbar {
  background-color: #2c2c2c;
  color: white;
  border: none;
  transition: background-color 1s, color 1s;
}

/* Navbar */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030; /* Pastikan z-index lebih tinggi dari elemen lain di halaman */
  transition: background-color 1s, color 1s;
}

/* Brand Link */
.brand-link {
  transition: background-color 1s, color 1s;
}

/* Rotasi Icon */
.rotate {
  animation: rotateIcon 0.5s;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
